requests
beautifulsoup4
lxml
duckduckgo-search
wikipedia
rich
streamlit
tqdm
psutil
pandas
plotly
numpy
scipy
pytz
anthropic
feedparser
joblib
lightgbm
logzero
openai
pyotp
scikit-learn
tensorflow
textblob
trafilatura
websocket-client
websockets
xgboost
yfinance
PyYAML
ta
smartapi-python
